
<div id="index_page">
  <% @trips.each do |trip| %>

   <div class="blocks_index_page">
      <h2> <%= trip.destination %></h2>
      <a href="/trips/<%= trip.id %>">
        <img class="index_page_img" src="<%= trip.second_image_url %>" alt="">
      </a>
    </div>
  <% end %>


</div>
