<form action="/users" method="post">
<h1>
  <label for="">First Name(s)</label>
  <input name ="name" type="tex" /> </h1>
<h1>
  <label for="">Second Names(s)</label>
  <input name ="surname" type="text" /></h1>
<h1>
  <label for="">Age</label>
  <input name ="age" type="number" /></h1>
<h1>
  <label for="">Country of Orgin</label>
  <input name ="nationality" type="text" /></h1>
<h1>
  <label for="">User name</label>
  <input name ="username" type="text" /></h1>
<h1>
  <label for="">Email</label>
  <input name ="email" type="text" /></h1>
<h1>
  <label for="">password</label>
  <input name ="password" type="text" /></h1>

  <button>SIGN UP</button>

</form>
